<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Montserrat:wght@800&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        <footer>
            <p>Ho uses Facebook anymore? Save here your friend's birthdays! </p>
        </footer>
    </body>
</html>
